cache=/home/x/.cache/npm
cache-lock-stale=360000
cache-lock-retries=10
cache-min=86400
depth=0
init.author.name=Douglas Duteil
init.author.email=douglasduteil@gmail.com
init.author.url=https://douglasduteil.github.io
init.license=WTFPL
init.version=0.0.0
message=chore(release): version %s
editor=subl
