cache=/home/x/.cache/npm
depth=0
editor=code
init-author-email=douglasduteil@gmail.com
init-author-name=Douglas Duteil
init-author-url=https://douglasduteil.github.io/
init-license=WTFPL
init-version=0.0.0
message=chore(release): version %s
prefer-offline=true
